# PostgreSQL Database Configuration (Docker Local)
POSTGRES_USER_ADMIN=ZafiroAdmin
POSTGRES_PASSWORD_ADMIN=Zafiro
POSTGRES_DB_NAME=Zafiro_DB

DATABASE_URL=postgresql://ZafiroAdmin:Zafiro@db:5432/Zafiro_DB

# Supabase Configuration (para desarrollo local con Supabase CLI)
# PROJECT_ID=bdbaagrjlsuibhvbzuwx
# SUPABASE_ACCESS_TOKEN=tu_token_aqui
